{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Aprendiendo hbs</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, fugit ut. Eius quisquam soluta voluptas nam, omnis voluptates veniam minus alias fuga nemo iusto fugit reprehenderit, sunt rem repudiandae voluptatum!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/unicornio.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}